* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.gridContainerRows {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.title {
    height: 8vh;
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchContainer {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.searchContainer .citySearchBox {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.searchContainer .citySearchBox #searchTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0px;
}

.searchContainer .citySearchBox #searchBar {
    height: 50px;
    padding: 5px;
}

.searchContainer .citySearchBox #searchButton {
    background-color: rgb(105, 151, 221);
    border: none;
    color: white;
    border-radius: 3px;
    height: 35px;
    margin: 10px 0px;
    cursor: pointer;
}

.cityButtons {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.cityButtons button {
    background-color: rgb(172, 172, 172);
    border: none;
    margin: 5px;
    height: 35px;
    border-radius: 3px;
    cursor: pointer;
}

.cityButtons .buttons:hover {
    background-color: rgb(105, 151, 221);
    transition: ease-in .3s;
    color: white;
}

.locationInfo {
    border: 2px solid black;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.locationInfo .locationCityTitle {
    display: flex; 
    justify-content: space-between;
    width: 25%;
    font-size: 24px;
    font-weight: 600;
}

.locationInfo .locationCityTitle img {
    height: 30px;
    width: 30px;
    background-color: rgb(213, 213, 213);
    border-radius: 50%;
}

.weeklyForecastGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5px 10px;
}

.weeklyForecast #forecastTitle {
    font-weight: 600;
    padding: 0px 10px;
}

.forecastCard {
    background-color: rgb(20, 68, 95);
    height: 230px;
    margin-right: 20px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.forecastCard .forecastDateBold {
    font-weight: 600;
}

.iconDayOne,
.iconDayTwo,
.iconDayThree,
.iconDayFour,
.iconDayFive {
    height: 60px;
    width: 60px;
}

.uvBox {
    display: flex;
}

#uvIndexNumber {
    border-radius: 2px;
    padding: 2px;
    font-size: 12px;
    margin-left: 5px;
}

.uvLow {
    background-color: rgba(0, 217, 255, 0.789);
}

.uvMedium {
    background-color: rgba(0, 169, 34, 0.782);
}

.uvHigh {
    background-color: rgba(251, 255, 0, 0.837);
}

.uvVeryHigh {
    background-color: rgba(206, 82, 0, 0.864);
}

.uvExtreme {
    background-color: rgb(255, 0, 0);
}